.container {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centerModal {
  display: flex;
  justify-content: center;
  width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  position: relative;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-align: center;
  max-width: 50%; 
}

.iconCadastroWrapper {
  text-align: center;
  margin-bottom: 20px;
}

.iconCadastro {
  width: 200px;
  height: auto;
}

.iconCadastroTextTop,
.iconCadastroTextBottom {
  margin-bottom: 10px;
  color: #B89130;
  text-align: center;
}

.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: black;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-basis: 50%;
  max-width: 50%;
}

.topRightSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.loginText,
.cadastrarText {
  font-size: 14px;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.loginText:hover,
.cadastrarText:hover {
  color: #B89130;
}

.activeLink {
  color: #B89130;
}

.loginButton {
  width: 100%;
  max-width: 200px;
  height: 40px;
  background-color: #111111;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #B89130;
}

.iconUserContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.iconUser {
  width: 50px;
  height: 50px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  max-width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #888;
}

.loginButton {
  width: 100%;
  max-width: 200px;
  height: 40px;
  background-color: #111111;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bottomLeftSection {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.esqueciSenhaContainer,
.cadastrarContainer {
  flex: 1;
}

.esqueciSenhaText,
.cadastrarText {
  font-size: 14px;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.cadastrarText:hover {
  color: #B89130;
}


