.sizeBar {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100vh;
  background-color: #272626;
  transition: left 0.3s ease-in-out;
  z-index: 1;
}

.sizeBar.open {
  left: 0;
}

.iconSizeBarContainer {
  display: flex;
  align-items: flex-start; /* Alinhamento no topo */
  justify-content: center;
  height: 120px; /* Aumentado para 120px */
  cursor: pointer;
  padding-top: 20px; /* Espaçamento superior adicionado */
}

.iconSizeBar {
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 120px;
}

.iconContainer {
  display: flex;
  align-items: center;
  padding: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
}

.iconContainer:hover {
  background-color: #333;
}

.icon {
  width: 24px;
  height: 24px;
  filter: brightness(1);
  margin-right: 8px;
  color: #b89130;
}

.itemDescriptionSizeBar {
  color: #ffd700;
  transition: color 0.3s ease;
  margin-left: 8px; /* Espaçamento à esquerda adicionado */
  margin-top: 8px; /* Espaçamento superior adicionado */
}

.iconSizeBarContainer:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  cursor: pointer;
}

.squareIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
  background-color: #b89130;
}

.squareIcon:hover {
  border-color: #ffffff;
}

.iconContainer:hover .icon,
.iconContainer:hover .itemDescriptionSizeBar {
  color: #ffd700;
}

.closeIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-right: auto;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}

.closeIconContainer:hover {
  background-color: #333;
}

.iconClose {
  width: 24px;
  height: 24px;
  filter: brightness(1);
}

.closeIconContainer:hover .iconClose {
  color: #ffd700;
}
