.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  height: 100vh;
}

.sizeBar {
  width: 0;
  height: 100%;
  background-color: #272626;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
}

.open {
  width: 250px;
}

.iconSizeBarContainer {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.iconSizeBar {
  width: 120px;
  height: 120px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 50%;
}


.squareIcon {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(173, 140, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
  background-color: #fff;
}

.squareIcon:hover {
  border-color: #ffffff;
}

.itemDescriptionSizeBar {
  margin-left: 10px;
  color: #b89130;
}


.itemDescriptionSizeBar {
  margin-left: 10px;
  color: #b89130;
}

.contentContainer {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  padding-right: 10px;
  box-sizing: border-box;
  flex-grow: 1; 
  flex-shrink: 1; 
  flex-basis: 100%; 
}


.separator {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.itemContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  width: 100%;
}

.whiteBackground {
  background-color: #333;
}

.whiteBackground {
  background-color: #333;
}

.itemContent:hover {
  background-color: #333;
}

.menuItemsContainer {
  height: 100%;
  width: 100%;
}

.closeIconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  margin-right: auto;
  cursor: pointer;
}

.iconMenuBar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}


.innerIcon {
  width: 30px;
  height: 30px;
}

.topLeftItem {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topRightItem {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menuOpenSizeBar {
  margin: 10px;
}

.bottomLeftItem {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomRightItem {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contentContainer::-webkit-scrollbar {
  width: 8px; 
}

.contentContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.contentContainer::-webkit-scrollbar-thumb {
  background-color: gold; 
  border-radius: 4px; 
}
