.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: gold;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.forceCenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  padding-right: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.dayContainer,
.monthContainer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 0;
  width: 50%;
}

.squareIcon {
  width: 400px;
  height: 400px;
  border: 2px solid rgb(173, 140, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
  border-radius: 50px;
  background-color: #b89130;
}

.descriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.squareIcon:hover {
  border-color: #ffffff;
}

.separator {
  height: 1px;
  background-color: gold;
  margin: 20px 0;
}

.itemContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  width: 100%;
}

.itemContent:hover {
  background-color: #333;
}

.menuItemsContainer {
  height: 100%;
  width: 100%;
}

.whiteBackground {
  background-color: #333;
}

.closeIconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  margin-right: auto;
  cursor: pointer;
}

.iconMenuBar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.innerIcon {
  width: 30px;
  height: 30px;
}

.topLeftItem {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topRightItem {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuOpenSizeBar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.bottomLeftItem {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomRightItem {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer::-webkit-scrollbar {
  width: 8px;
}

.contentContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.contentContainer::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 4px;
}

.expanded .description {
  display: none;
}

.executionName {
  margin-top: 15px;
  margin-bottom: 15px;
  color: gold;
}

.dayNumber {
  color: gold;
}

.weekday {
  color: gold;
}

.dayTile {
  background-color: transparent;
  border: none;
  color: gold;
}

.selectedDay {
  background-color: gold;
  color: #111111;
}

.today {
  background-color: transparent;
  border: 2px solid gold;
  color: gold;
}
